.List {
  display: flex;
}

.Item:not(:last-child) {
  margin-right: 20px;
}

.Link {
  display: block;
  padding-top: 10px;
  padding-bottom: 10px;

  color: currentColor;

  &:hover,
  &:focus {
    text-decoration: none;
  }

  &--active {
    color: #02be6e;
    font-weight: 500;
  }
}

.Back {
  margin-top: 10px;
  margin-bottom: 10px;
  padding: 5px 20px;

  border: none;

  transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);
  cursor: pointer;

  &:hover,
  &:focus {
    color: white;
    background-color: #02be6e;

    transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
}
