.List {
  display: flex;
}

.Item:not(:last-child) {
  margin-right: 20px;
}

.Link {
  display: block;
  padding-top: 20px;
  padding-bottom: 20px;

  color: currentColor;

  &:hover,
  &:focus {
    text-decoration: none;
  }

  &--active {
    color: #02be6e;
    font-weight: 500;
  }
}
