.Container {
  margin: 0px auto;
  padding: 0px 15px;
  max-width: 1170px;
}

.NavList {
  display: flex;
}

.NavItem:not(:last-child) {
  margin-right: 20px;
}

.Navlink {
  display: block;
  padding-top: 20px;
  padding-bottom: 20px;

  color: currentColor;

  text-decoration: none;

  &:hover,
  &:focus {
    text-decoration: underline;
  }

  &--active {
    color: #02be6e;
    font-weight: 500;

    text-decoration: none;
  }
}
