// Стили списка фильмов
@import '../../variables.module.scss';

.list {
  display: flex;
  flex-wrap: wrap;

  margin-left: -20px;
  margin-top: -20px;
  padding: 20px 0;
}

.item {
  flex-basis: calc(100% / 2 - 20px);
  margin-left: 20px;
  margin-top: 20px;

  opacity: 1;

  transition: opacity $transition-duration $transition-timing;

  &:hover,
  &:focus {
    color: $base-color;

    opacity: 0.8;

    transition: all $transition-duration $transition-timing;
  }

  @media screen and (min-width: 768px) and (max-width: 1169px) {
    flex-basis: calc(100% / 3 - 20px);
  }

  @media screen and (min-width: 1170px) {
    flex-basis: calc(100% / 4 - 20px);
  }
}

.link {
  color: inherit;

  text-decoration: none;
}
