// Стили актёра
@import '../../variables.module.scss';

.thumb {
  height: 300px;
  margin-bottom: 5px;

  opacity: 1;
  transition: opacity $transition-duration $transition-timing;

  @media screen and (min-width: 768px) {
    height: 250px;
  }

  &:hover,
  &:focus {
    opacity: 0.8;
    transition: opacity $transition-duration $transition-timing;
    cursor: pointer;
  }

  .photo {
    width: 100%;
    height: 100%;
    border-radius: 5px;

    object-fit: cover;
    object-position: top;

    @media screen and (min-width: 768px) {
      object-fit: cover;
      object-position: top;
    }
  }
}

.name {
  margin-bottom: 5px;
}
