// Стили фильма
@import '../../variables.module.scss';

.article {
  position: relative;

  padding-bottom: 20px;

  @media screen and (min-width: 768px) {
    display: flex;
  }
}

.title {
  margin-bottom: 20px;
}

.score {
  margin-bottom: 20px;
}

.vote {
  position: absolute;
  top: 15px;
  left: 15px;
  padding: 10px;
  border-radius: 5px;

  color: #ffffff;
  background-color: $secondary-color;

  &--top {
    @extend .vote;
    background-color: $base-color;
  }

  &--low {
    @extend .vote;
    background-color: tomato;
  }
}

.overview {
  margin-bottom: 20px;
}

.thumb {
  margin-bottom: 20px;

  @media screen and (min-width: 768px) {
    margin-bottom: 0;
    margin-right: 20px;
  }
}

.poster {
  height: auto;
  border-radius: 5px;

  @media screen and (min-width: 768px) {
    max-width: 300px;
  }
}

.label {
  margin-right: 5px;
}

.genresList {
  margin-top: 10px;
}

.genresItem {
  &:not(:last-child) {
    margin-bottom: 10px;
  }

  &::before {
    content: '▶';

    margin-right: 10px;

    color: $base-color;
  }
}
