.Content {
}

.Article {
  padding-bottom: 20px;

  @media screen and (min-width: 768px) {
    display: flex;
  }
}

.Title {
  margin-bottom: 20px;
}

.Score {
  margin-bottom: 20px;
}

.Overview {
  margin-bottom: 20px;
}

.Thumb {
  margin-bottom: 20px;

  @media screen and (min-width: 768px) {
    margin-right: 20px;
  }
}

.Poster {
  // max-width: 300px;
  height: auto;

  @media screen and (min-width: 768px) {
    max-width: 300px;
  }
}

.Label {
  margin-right: 5px;
}

.GenresList {
  margin-top: 10px;
}

.GenresItem {
  list-style: inside;

  &:not(:last-child) {
    margin-bottom: 10px;
  }
}
